# Configurações do Banco de Dados
# Para local: mongodb://localhost:27017/nome_do_banco
# Para Atlas: mongodb+srv://<user>:<password>@cluster.mongodb.net/nome_do_banco

MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/nome_do_banco
MONGO_DB_NAME=meu_projeto_db
PORT=3000